*{
  margin:0;
  padding:0;
}

.container{
    height:34rem;
    width:52rem;
    /* background-color: skyblue; */
    margin-top: 2rem;
    border-radius: .5rem;
    display: flex;
    border:1px solid black;
}

.first_div{
    height:100%;
    width:50%;
    .img{
        height:100%;
        width:100%;
    }
}
.second_div{
    height:90%;
    width:50%;
    margin-top: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: aqua; */

}
.btn{
    width: 90%;
    height:3rem !important;
}
.text{
    width: 90%;
    height: 2.5rem;
    border:1px solid gray;
    border-radius: 0.2rem;
}
.text::placeholder{
    text-align: left;
    padding-left: 1rem;
}
.link {
    margin-left: 59%;
    color: red;
    text-decoration: none;
  }
  
  .link:hover .forgot-password {
    text-decoration: underline;
    color:red;
  }
.or{
    display: flex;
}
.reg{
    background-color: rgb(50, 50, 200);
    color:white;
}
.reg:hover{
    background-color: rgb(30, 30, 86);
    color:white;
}