.navbar{
    background-color: rgb(53, 34, 160);
    overflow: hidden;
    border-radius: .3rem;
    color:white;
    height:6rem;
}
.navbar-brand{
    color:rgb(25, 80, 25)!important;
    font-weight: bolder!important;
}
.navbar a{
    font-size: 1rem!important;
    text-transform: capitalize!important;
    color:white!important;
}
.navbar a:hover{
    font-weight: bold;
}

.navbar-nav{
     margin-left: 25rem;
     justify-content: space-around;
}

.nav-item{
    margin-left: 25px;
}
.nav-item:hover{
    cursor: pointer;
    color:coral;
    transition:all 1s ease-out;
}
  